src/main/resources/xsd/mpiPersonInfoSchema.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:commonTypes="http://ffoms.ru/types/commonTypes" xmlns:tns="http://ffoms.ru/types/mpiPersonInfoSchema" elementFormDefault="qualified" targetNamespace="http://ffoms.ru/types/mpiPersonInfoSchema" version="1.0">
    <import namespace="http://ffoms.ru/types/commonTypes" schemaLocation="commonTypes.xsd"/>

    <!-- метод getInsuranceStatus-->

    <element name="getInsuranceStatusRequest">
        <annotation>
            <documentation>Запрос на получение данных страхпринадлежности персоны по ее полису/ДУДЛ для оператора
                МО, СМО, ТФОМС
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="commonTypes:CommonRequestType">
                    <sequence>
                        <element name="insuranceStatusSearchParams" type="tns:InsuranceStatusSearchParamsType"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="InsuranceStatusSearchParamsType">
        <sequence>
            <element name="personSearchInfo" type="tns:PersonCommonSearchParamsType"/>
            <element minOccurs="0" name="dt" type="date">
                <annotation>
                    <documentation>дата, на которую выдать состояние - для МО, СМО, ТФОМС
                        Если не указана, выдаётся на текущую дату
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="getInsuranceStatusResponse">
        <annotation>
            <documentation>Синхронный ответ, на запрос на получение данных
                страхпринадлежности персоны по ее полису/ДУДЛ для оператора МО, СМО, ТФОМС
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="commonTypes:CommonResponseType">
                    <sequence>
                        <element minOccurs="0" name="status" type="tns:StatusData"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="StatusData">
        <annotation>
            <documentation>Сведения о страховой принадлежности</documentation>
        </annotation>
        <sequence>
            <element name="oip" type="commonTypes:Oip"/>
            <element minOccurs="0" name="fio" type="string">
                <annotation>
                    <documentation>Фамилия И.О.</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthDay" type="date">
                <annotation>
                    <documentation>Дата рождения</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="gender" type="commonTypes:GenderType"/>
            <element name="policyType" type="string">
                <annotation>
                    <documentation>тип полиса</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="policySer" type="string">
                <annotation>
                    <documentation>серия если есть</documentation>
                </annotation>
            </element>
            <element name="policyNumEnp" type="string">
                <annotation>
                    <documentation>номер или ЕНП</documentation>
                </annotation>
            </element>
            <element name="policyStatus" type="string">
                <annotation>
                    <documentation>статус полиса</documentation>
                </annotation>
            </element>
            <element name="smo" type="string">
                <annotation>
                    <documentation>название СМО</documentation>
                </annotation>
            </element>
            <element name="terr" type="string">
                <annotation>
                    <documentation>территория страхования</documentation>
                </annotation>
            </element>
            <element name="policyValidFrom" type="date">
                <annotation>
                    <documentation>с какого момента застрахован</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="policyValidTo" type="date">
                <annotation>
                    <documentation>до какого момента застрахован</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <!-- метод getPersonData-->

    <element name="getPersonDataRequest">
        <annotation>
            <documentation>Запрос на получение данных персоны по ее полису/ДУДЛ для оператора
                МО, СМО, ТФОМС
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="commonTypes:CommonRequestType">
                    <sequence>
                        <element name="personDataSearchParams" type="tns:PersonDataSearchParamsType"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="PersonDataBaseSearchParamsType">
        <sequence>
            <element name="personSearchInfo" type="tns:PersonCommonSearchParamsType"/>
            <element minOccurs="0" name="surname" type="string">
                <annotation>
                    <documentation>фамилия</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="firstName" type="string">
                <annotation>
                    <documentation>имя</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="patronymic" type="string">
                <annotation>
                    <documentation>отчество</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="show" type="tns:listOfShow">
                <annotation>
                    <documentation>Список названий сущностей, которые надо получить. Если не указано возвращаются
                        все сущности.
                        Элемент сущности, который можно получить.
                        Отображается текущее состояние на заданную дату для одной из задаваемых сущностей в параметре
                        Show:
                        ⦁ Person - информация о персоне;
                        ⦁ OmsPolicy - информация о полисе;
                        ⦁ Dudl - ДУДЛ
                        ⦁ Address - адрес;
                        ⦁ Attach - Прикрепление;
                        ⦁ Contact - Данные контакта;
                        ⦁ Snils - Данные СНИЛС;
                        ⦁ SocialStatus - Данные соц. статуса;
                        ⦁ Ern - Данные ЕРН;
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="PersonDataSearchParamsType">
        <complexContent>
            <extension base="tns:PersonDataBaseSearchParamsType">
                <sequence>
                    <element minOccurs="0" name="dt" type="date">
                        <annotation>
                            <documentation>дата, на которую выдать состояние - для МО, СМО, ТФОМС
                                Если не указана, выдаётся на текущую дату
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <element name="getPersonDataResponse">
        <annotation>
            <documentation>Синхронный ответ на запрос "получение данных персоны" или "получения истории изменения данных
                персоны"
                по ее полису/ДУДЛ для СМО,ТФОМС
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="commonTypes:CommonResponseType">
                    <sequence>
                        <element minOccurs="0" name="pd" type="tns:PersonData"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <!-- метод getPersonDataHistory-->

    <element name="getPersonDataHistoryRequest">
        <annotation>
            <documentation>Запрос на получение истории данных персоны по ее полису/ДУДЛ для СМО,ТФОМС
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="commonTypes:CommonRequestType">
                    <sequence>
                        <element name="personDataHistorySearchParams" type="tns:PersonDataHistorySearchParamsType"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="PersonDataHistorySearchParamsType">
        <complexContent>
            <extension base="tns:PersonDataBaseSearchParamsType">
                <sequence>
                    <element minOccurs="0" name="dtFrom" type="date">
                        <annotation>
                            <documentation>начало периода, за который выдаются изменения - обязательный аргумент
                            </documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="dtTo" type="date">
                        <annotation>
                            <documentation>конец периода, за который выдаются изменения - обязательный аргумент
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <!-- метод findPersonsByPersCriteria-->

    <element name="findPersonsByPersCriteriaRequest">
        <annotation>
            <documentation>Запрос на получение списка кратких сведений о персонах по параметрам.
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="commonTypes:CommonRequestType">
                    <sequence>
                        <element name="persCriteria" type="tns:PersCriteriaType"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="PersCriteriaType">
        <sequence>
            <element minOccurs="0" name="pagination" type="commonTypes:PaginationRequestType"/>
            <element minOccurs="0" name="terrOkato" type="string"/>
            <element minOccurs="0" name="fio" type="tns:FioData"/>
            <element minOccurs="0" name="birthDayFrom" type="date">
                <annotation>
                    <documentation>ДР с</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthDayTo" type="date">
                <annotation>
                    <documentation>ДР по</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="deathDateFrom" type="date">
                <annotation>
                    <documentation>Дата смерти - с</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="deathDateTo" type="date">
                <annotation>
                    <documentation>Дата смерти - по</documentation>
                </annotation>
            </element>

            <element minOccurs="0" name="personSearchInfo" type="tns:PersonCommonSearchParamsType"/>

            <element minOccurs="0" name="ern" type="commonTypes:ernType"/>

            <element minOccurs="0" name="dt" type="date">
                <annotation>
                    <documentation>дата, на которую выдать состояние - для МО, СМО, ТФОМС Если не указана, выдаётся
                        на текущую дату
                    </documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="FioData">
        <sequence>
            <element minOccurs="0" name="surname" type="string">
                <annotation>
                    <documentation>фамилия</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="firstName" type="string">
                <annotation>
                    <documentation>имя</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="patronymic" type="string">
                <annotation>
                    <documentation>отчество</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="oldsfp">
                <annotation>
                    <documentation>Признак поиска по "старым" ФИО</documentation>
                </annotation>
                <simpleType>
                    <restriction base="integer">
                        <enumeration value="0"/>
                        <enumeration value="1"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="dost">
                <annotation>
                    <documentation>Коды надежности идентификации (в строке может быть несколько - без пробелов -
                        напр., 13):
                        1 - отсутствует отчество;
                        2 - отсутствует фамилия;
                        3 - отсутствует имя;
                    </documentation>
                </annotation>
                <simpleType>
                    <restriction base="string">
                        <enumeration value="1"/>
                        <enumeration value="2"/>
                        <enumeration value="3"/>
                        <enumeration value="12"/>
                        <enumeration value="13"/>
                        <enumeration value="123"/>
                        <enumeration value="132"/>
                        <enumeration value="31"/>
                        <enumeration value="32"/>
                        <enumeration value="312"/>
                        <enumeration value="321"/>
                        <enumeration value="21"/>
                        <enumeration value="23"/>
                        <enumeration value="213"/>
                        <enumeration value="231"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="oksm" type="string">
                <annotation>
                    <documentation>гражданство - код страны, если указан признак лица без гражданства этот параметр
                        игнорируется
                    </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="noCitizenship" type="boolean">
                <annotation>
                    <documentation>признак лица без гражданства</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <element name="findPersonsByPersCriteriaResponse">
        <annotation>
            <documentation>Синхронный ответ, на запрос на получение истории данных персоны по ее полису/ДУДЛ для
                СМО,ТФОМС
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="commonTypes:CommonResponseType">
                    <sequence>
                        <element minOccurs="0" name="persons" type="tns:ListOfPdShort"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="ListOfPdShort">
        <sequence>
            <element maxOccurs="unbounded" name="personDataShortItem" type="tns:PersonDataShort"/>
            <element name="pagination" type="commonTypes:PaginationResponseType"/>
        </sequence>
    </complexType>

    <complexType name="PersonDataShort">
        <sequence>
            <element name="fio" type="string">
                <annotation>
                    <documentation>Фамилия ИО</documentation>
                </annotation>
            </element>
            <element name="enp" type="string">
                <annotation>
                    <documentation>ЕНП</documentation>
                </annotation>
            </element>
            <element name="birthDay" type="date">
                <annotation>
                    <documentation>Дата рождения</documentation>
                </annotation>
            </element>
            <element name="gender" type="commonTypes:GenderType"/>
            <element name="oip" type="string">
                <annotation>
                    <documentation>ОИП (обезличенный идентификатор пациента)</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="PersonCommonSearchParamsType">
        <sequence>
            <element minOccurs="0" name="oip" type="commonTypes:Oip"/>
            <element minOccurs="0" name="pcy" type="commonTypes:PcyData"/>
            <element minOccurs="0" name="dudl" type="commonTypes:PersonDocIdentSerNum"/>
            <element minOccurs="0" name="snilsDr" type="tns:SnilsDrData"/>
        </sequence>
    </complexType>

    <complexType name="SnilsDrData">
        <annotation>
            <documentation>Сочетание СНИЛС+ДР. Только для МО, ТФОМС</documentation>
        </annotation>
        <sequence>
            <element minOccurs="0" name="snils" type="commonTypes:SnilsType">
                <annotation>
                    <documentation>СНИЛС</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="birthDay" type="date">
                <annotation>
                    <documentation>Дата рождения</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="PersonData">
        <annotation>
            <documentation>Данные о персоне</documentation>
        </annotation>
        <sequence>
            <element name="oip" type="commonTypes:Oip"/>
            <element minOccurs="0" name="person" type="tns:ListOfPerson"/>
            <element minOccurs="0" name="policy" type="tns:ListOfOmsPolicy"/>
            <element minOccurs="0" name="dudl" type="tns:ListOfPersonDocIdent"/>
            <element minOccurs="0" name="address" type="tns:ListOfAddress"/>
            <element minOccurs="0" name="attach" type="tns:ListOfAttach"/>
            <element minOccurs="0" name="contact" type="tns:ListOfContact"/>
            <element minOccurs="0" name="snils" type="tns:ListOfSnils"/>
            <element minOccurs="0" name="socialStatus" type="tns:ListOfSocialStatus"/>
            <element minOccurs="0" name="ern" type="tns:ListOfErn"/>
        </sequence>
    </complexType>

    <complexType name="ListOfPerson">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="personItems" nillable="true" type="tns:Person"/>
        </sequence>
    </complexType>

    <complexType name="ListOfOmsPolicy">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="policyItems" nillable="true" type="commonTypes:OmsPolicy"/>
        </sequence>
    </complexType>

    <complexType name="ListOfPersonDocIdent">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="dudlItems" nillable="true" type="tns:PersonDocIdent"/>
        </sequence>
    </complexType>

    <complexType name="ListOfAddress">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="addressItems" nillable="true" type="commonTypes:Address"/>
        </sequence>
    </complexType>

    <complexType name="ListOfAttach">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="attachItems" nillable="true" type="commonTypes:Attach"/>
        </sequence>
    </complexType>

    <complexType name="ListOfContact">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="contactItems" nillable="true" type="commonTypes:Contact"/>
        </sequence>
    </complexType>

    <complexType name="ListOfSnils">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="snilsItems" nillable="true" type="tns:SnilsData"/>
        </sequence>
    </complexType>

    <complexType name="ListOfSocialStatus">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="socialStatusItems" nillable="true" type="tns:SocialStatusData"/>
        </sequence>
    </complexType>

    <complexType name="ListOfErn">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="0" name="ernItems" nillable="true" type="tns:ErnData"/>
        </sequence>
    </complexType>

    <complexType name="PersonDocIdent">
        <annotation>
            <documentation>Массив с документами, удостоверяющими личность.</documentation>
        </annotation>
        <complexContent>
            <extension base="commonTypes:PersonDocIdentFullBase">
                <sequence>
                    <element name="dsource" type="string">
                        <annotation>
                            <documentation>источник данных</documentation>
                        </annotation>
                    </element>
                    <element name="dsourceType" type="string">
                        <annotation>
                            <documentation>вид источника данных</documentation>
                        </annotation>
                    </element>
                    <element name="dudlStatus" type="string">
                        <annotation>
                            <documentation>Статус ДУДЛ.</documentation>
                        </annotation>
                    </element>
                    <element minOccurs="0" name="gender" type="commonTypes:GenderType"/>
                    <element minOccurs="0" name="noCitizenship" type="boolean">
                        <annotation>
                            <documentation>Признак отсутствия гражданства (0 - нет, 1- да)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="SocialStatusData">
        <sequence>
            <element name="socialStatus" type="string">
                <annotation>
                    <documentation>статус 0-Работающий/1-Неработающий</documentation>
                </annotation>
            </element>
            <element name="dsourceType" type="string">
                <annotation>
                    <documentation>вид источника данных (ТФОМС, СМО и т.п.)</documentation>
                </annotation>
            </element>
            <element name="dsource" type="string">
                <annotation>
                    <documentation>источник данных (какие именно ТФОМС, СМО и т.д.). В зависимости от типа - код
                        территории ТФОМС, ОГРН СМО и т.п.
                    </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="descr" type="string">
                <annotation>
                    <documentation>Описание</documentation>
                </annotation>
            </element>
            <element name="regDate" type="date">
                <annotation>
                    <documentation>Дата регистрации состояния</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ErnData">
        <sequence>
            <element name="ern" type="string">
                <annotation>
                    <documentation>Идентификатор персоны в ЕРН</documentation>
                </annotation>
            </element>
            <element name="dsource" type="string">
                <annotation>
                    <documentation>источник данных (какие именно ТФОМС, СМО и тд) В зависимости от типа - код территории
                        ТФОМС, ОГРН СМО и т.п.
                    </documentation>
                </annotation>
            </element>
            <element name="dsourceType" type="string">
                <annotation>
                    <documentation>вид источника данных (ТФОМС, СМО и т.п)
                    </documentation>
                </annotation>
            </element>
            <element name="ernStatus" type="string">
                <annotation>
                    <documentation>Статус</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="SnilsData">
        <sequence>
            <element name="snils" type="commonTypes:SnilsType">
                <annotation>
                    <documentation>СНИЛС</documentation>
                </annotation>
            </element>
            <element name="dsource" type="string">
                <annotation>
                    <documentation>источник данных (какие именно ТФОМС, СМО и тд) В зависимости от типа - код
                        территории ТФОМС, ОГРН СМО и т.п.
                    </documentation>
                </annotation>
            </element>
            <element name="dsourceType" type="string">
                <annotation>
                    <documentation>вид источника данных (ТФОМС, СМО и т.п)</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="descr" type="string">
                <annotation>
                    <documentation>Описание</documentation>
                </annotation>
            </element>
            <element name="statusSnils" type="string">
                <annotation>
                    <documentation>Статус</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="Person">
        <annotation>
            <documentation>массив Person в pd содержит только один элемент, исключение для исторических данных
            </documentation>
        </annotation>
        <sequence>
            <element name="surname" type="string">
                <annotation>
                    <documentation>Фамилия</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="patronymic" type="string">
                <annotation>
                    <documentation>Отчество</documentation>
                </annotation>
            </element>
            <element name="firstName" type="string">
                <annotation>
                    <documentation>Имя</documentation>
                </annotation>
            </element>
            <element name="birthDay" type="date">
                <annotation>
                    <documentation>Дата рождения</documentation>
                </annotation>
            </element>
            <element name="gender" type="commonTypes:GenderType"/>
            <element minOccurs="0" name="birthOksm" type="string">
                <annotation>
                    <documentation>Страна рождения</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="deathDate" type="date">
                <annotation>
                    <documentation>Дата смерти</documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="whenMerged" type="dateTime">
                <annotation>
                    <documentation>Дата, когда персона слита с дубликатом</documentation>
                </annotation>
            </element>
            <element name="dateEdit" type="dateTime">
                <annotation>
                    <documentation>Дата изменения записи</documentation>
                </annotation>
            </element>
            <element name="status" type="string">
                <annotation>
                    <documentation>Статус персоны</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <simpleType name="listOfShow">
        <list>
            <simpleType>
                <restriction base="string">
                    <enumeration value="Person"/>
                    <enumeration value="OmsPolicy"/>
                    <enumeration value="Dudl"/>
                    <enumeration value="Address"/>
                    <enumeration value="Attach"/>
                    <enumeration value="Contact"/>
                    <enumeration value="Snils"/>
                    <enumeration value="SocialStatus"/>
                    <enumeration value="Ern"/>
                </restriction>
            </simpleType>
        </list>
    </simpleType>

    <element name="getMergeAncessorOipRequest">
        <annotation>
            <documentation>Запрос по ОИП объединенной персоны ОИП актуальной персоны-продолжателя.
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="commonTypes:CommonRequestType">
                    <sequence>
                        <element name="personSearchInfo" type="tns:PersonSearchInfo"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="PersonSearchInfo">
        <sequence>
            <element name="oip" type="commonTypes:Oip"/>
        </sequence>
    </complexType>


    <element name="getMergeAncessorOipResponse">
        <annotation>
            <documentation>Ответ по ОИП объединенной персоны ОИП актуальной персоны-продолжателя
            </documentation>
        </annotation>
        <complexType>
            <complexContent>
                <extension base="commonTypes:CommonResponseType">
                    <sequence>
                        <element minOccurs="0" name="mergeAncessorOip" type="tns:MergeAncessorOip"/>
                    </sequence>
                </extension>
            </complexContent>
        </complexType>
    </element>

    <complexType name="MergeAncessorOip">
        <sequence>
            <element name="whenMerged" type="date"/>
            <element name="mergeAncessorOip" type="string"/>
        </sequence>
    </complexType>

</schema>